.App {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  padding-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* temporary theme because my eyes are burning */
  /* background-color: rgb(26, 26, 26); 
  color: white; */
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

div.navbar {
  background-color:rgb(11, 11, 11);
  color: white;
  font-size: 30px;
  display: flex;
  width:100%;
  position: fixed;
  justify-content: space-between; 
  right:0;
  left:0;
  top:0;
  z-index: 1;
}

a {color:white}

.loginRegisterField {
  text-align: center;
  margin-top: 30px;
  padding: 5px;
  width: 50%;
  margin: auto;
}

.pwChecklist {
  text-align: left;
}

.productCard {
  display: flex;
  flex-wrap: wrap;
}

.smallImage {
  /* height: 100px; */
  width: 100%;
  max-height: auto;
}