.App {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  padding-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

div.navbar {
  background-color:rgb(11, 11, 11);
  color: white;
  font-size: 30px;
  display: flex;
  width:100%;
  padding:5px;
  position: fixed;
  justify-content: space-around; 
  right:0;
  left:0;
  top:0;
}

a {color:white}

.loginRegisterField {
  background-color: rgb(255, 230, 230);
  text-align: center;
  margin-top: 30px;
  padding: 5px;
  width: 50%;
  margin: auto;
}

.pwChecklist {
  text-align: left;
}